<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <button onclick='window.location.href="/new"'>Post message</button>
  <section class="msgContainer">

    <% messages.forEach((msg)=> {
            %>
    <%- include('message', {...msg}) %>
    <%
        }) %>
  </section>

</body>

</html>